.landing {
  background-color: blueviolet;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  margin: 0.5rem;
  color: white;
}
.link:hover {
  text-decoration: underline;
}
